/* stylelint-disable */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    font-family: 'Roboto', 'Inter', system-ui, -apple-system, BlinkMacSystemFont,
      'Segoe UI', sans-serif;
  }
}
